@font-face {
    font-family: 'DIST';
    src: url('fonts/DIST Inking.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'DIST', Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    color: #000000;
}

header {
    text-align: center;
    padding: 10px;
    background-image: url('back-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
}

h1 {
    margin: 0;
    font-size: 3em;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.single {
    position: relative;
    max-width: 300px;
    overflow: hidden; /* Обрезка содержимого по форме кнопки */
    transition: transform 0.3s;
    background-image: url('back-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
}

.single:hover {
    transform: scale(1.05);
}

.single img {
    width: 100%;
    display: block;
}

.masked-wrapper {
  padding: 15px;
}


.masked {
    display: block;
    mask-image: url('mask.png');
    mask-size: cover;
    mask-repeat: no-repeat;

    -webkit-mask-image: url('mask.png');
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
}

.description {
    padding: 0px 15px 35px 15px;
    text-align: center;
}

.description h2 {
    font-size: 2.5em;
    margin: 0;
    color: #000;
}

.platforms {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: url('back-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
    bottom: -100%;
    right: 0%; /* Платформы скрыты ниже кнопки */
    width: 100%;
    opacity: 0;
    transition: all 0.3s; /* Плавная анимация */
    padding: 5px 0 5px;
}

.platforms a {
    text-decoration: none;
    color: #000;
    margin: auto;
    padding: 10px;
    font-size: 1.1em;
}

.single:hover .platforms {
    bottom: 0%;
    opacity: 1; /* Делаем платформу видимой */
}

.title{
    margin: 0 auto 0 auto;
}

.header-title{
    margin: 0 auto 0 auto;
    color: #000;
}

/* Стиль для отдельной страницы с синглом */
.single-page {
    text-align: center;
    padding: 20px;
}

.cover-large {
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.platform-button {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 25px;
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    width: 80%;
    max-width: 300px;
    text-align: center;
    transition: all 0.3s ease;
}

#singles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex: 0; /* Убирает растягивание синглов */
}

/* Оформление header */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 50px;
}

.logo {
    width: 150px;
    height: auto;
}

.email-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    color: #000000;
    transition: color 0.3s ease;
}

.email-link i {
    margin-right: 10px;
    font-size: 1.6em;
}

.email-link:hover {
    color: #fff; /* Голубой цвет при наведении */
}

/* Для body и html */
html, body {
    height: 100%; /* Устанавливаем высоту на 100% */
    margin: 0; /* Убираем отступы */
    display: flex;
    flex-direction: column;
}

/* Контейнер для основного содержимого */
main {
    flex: 1; /* Заставляет main занимать всё доступное пространство */
    display: flex;
    flex-direction: column; /* Элементы остаются выровненными по колонкам */
}

/* Стили для footer */
footer {
    text-align: center;
    padding: 10px;
    background-image: url('back-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
    font-size: 1.5em;
    color: #000;
    margin-top: auto; /* Заставляет footer перемещаться к низу */
}
